//border
.border-all {
	border: $border1;
}
.border-top {
	border-top: $border1;
}
.border-bottom {
	border-bottom: $border1;
}
.border-left {
	border-left: $border1;
}
.border-right {
	border-right: $border1;
}
.border-no {
	border: $no-border;
}

.bdr-all {
	border: $border1;
}
.bdr-top {
	border-top: $border1;
}
.bdr-bottom {
	border-bottom: $border1;
}
.bdr-left {
	border-left: $border1;
}
.bdr-right {
	border-right: $border1;
}
.bdr-no {
	border: $no-border;
}