// card
.card {
    position: relative;
    width: calc(100% - 30px);
    border-radius: 7.5px;
    background-color: #fff;
    border: $border;
    box-shadow: 0 0 10px 0 rgba(154,161,171,.15);
    margin: 15px;
    overflow: hidden;
    &:hover {
        @include animate_1();
        box-shadow: 0 0 30px 0 rgba(154,161,171,.34);
        .overlay {
            @include animate_2();
            opacity: 1;
        }
    }
    &.no-overflow {
        overflow: visible;
    }
    &.no-radius {
        border-radius: 5px;
    }
    &.no-hover {
        box-shadow: 0 0 0 #fff;
    }
    &.no-margin {
        width: 100%;
        margin: 0 0;
    }
    &.small-margin {
        width: calc(100% - 10px);
        margin: 5px;
    }
    .card-top {
        position: relative;
        // width: calc(100% - 30px);
        // padding: 14px 15px;
    }
    .card-pad {
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
    }
    .card-mid {
        position: relative;
        width: calc(100% - 30px);
        height: 170px;
        padding: 15px;
    }
    .card-center {
        @include post_center(relative);
    }
    .card-left {
        @include post_middle(absolute);
    }

    .overlay {
        position: absolute;
        width: calc(100% - 30px);
        padding: 15px;
        bottom: 0;
        font-size: 13px;
        opacity: 0;

        // style
        color: $txt-84-color;
        background-color: rgba($color: #fff, $alpha: 0.84);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;

        // animation
        @include animate_2();
        &.left {
            position: absolute;
            width: calc(60% - 30px);
            height: calc(100% - 30px);
            padding: 15px;
            left: 0;
            border-top-right-radius: 15px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 15px;
        }
        &.right {
            position: absolute;
            width: calc(60% - 30px);
            height: calc(100% - 30px);
            padding: 15px;
            right: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 15px;
        }
        &.full {
            position: absolute;
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            padding: 15px;
            left: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.card-list {
    position: relative;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #fff;
    &.active {
        background-color: $green;
    }
}

.card-percentage {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    &.border-25 {
        border-top: 4px $green solid;
        border-right: 4px #fff solid;
        border-bottom: 4px #fff solid;
        border-left: 4px #fff solid;
    }
    &.border-50 {
        border-top: 4px $green solid;
        border-right: 4px $green solid;
        border-bottom: 4px #fff solid;
        border-left: 4px #fff solid;
    }
    &.border-75 {
        border-top: 4px $green solid;
        border-right: 4px $green solid;
        border-bottom: 4px $green solid;
        border-left: 4px #fff solid;
    }
    &.border-100 {
        border: 4px $green solid;
    }
    .percentage-info {
        @include  post_center(relative);
        text-align: center;
    }
    .percentage-title {
        font-size: 18pt;
        font-weight: 600;
        color: $txt-84-color;
        line-height: 1.2;
    }
    .percentage-subtitle {
        font-size: 11pt;
        color: $txt-54-color;
        line-height: 1.2;
    }
}

.card-notif {
    position: relative;
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: row;
    &:hover {
        @include animate_1();
        background-color: #f5f5f5;
        color: $txt-min-color;
    }
}

.card-item {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    @include grid_3x(50px, 1fr, 150px);
    &:hover {
        @include animate_1();
        background-color: #f9f9f9;
        color: $txt-min-color;
    }
    .c-i-col-1 {
        @include column_n(1);
    }
    .c-i-col-2 {
        @include column_n(2);
    }
    .c-i-col-3 {
        @include column_n(3);
        text-align: right;
    }
}

.card-timeline {
    position: relative;
    width: calc(100% - 0px);
    padding: 15px 0;
    @include grid_2x(60px, 1fr);
    .c-n-col-1 {
        @include column_n(1);
    }
    .c-n-col-2 {
        @include column_n(2);
    }
}


.table-head {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    color: $txt-84-color;
    @include grid_2x(1fr, 1fr);
    .float-right {
        float: right;
        text-align: right;
    }
    .form-control {
        border: $border;
        height: 43px;
        padding: 0 10px;
        border-radius: 5px;
        background-color: #fff;
    }
}

.table-foot {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    color: $txt-84-color;
    @include grid_2x(1fr, 1fr);
    .pull-right {
        float: right;
        text-align: right;
    }
}

.table {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    margin: 15px;
    border-radius: 7.5px;
    overflow: hidden;
    background-color: #fff;
    
    box-shadow: 0 0 10px 0 rgba(154,161,171,.15);
    
    border-collapse: collapse;
    border-spacing: 0;

    &:hover {
        @include animate_1();
        box-shadow: 0 0 30px 0 rgba(154,161,171,.15);
    }

    thead {
        width: 100%;
        background-color: $blue;
        tr {
            th {
                padding: 15px;
                font-size: 11pt;
                color: #fff;
                text-align: left;
                flex-basis: 100%;
                flex-grow: 2;
                .sortable {
                    color: #fff;
                }
            }
        }
    }

    tbody {
        position: relative;
        width: 100%;
        .tr {
            .td {
                flex-basis: 100%;
                flex-grow: 2;
            }
        }
    }

    tfoot {
        padding: 10px 0;
    }

    td {
        padding: 15px;
        font-size: 11pt;
        vertical-align: middle;
    }
    tr {
        color: $txt-54-color;
    }
    tr:nth-child(even) {
        background-color: #f5f5f5;
    }   

}

.pagination {
    .page-item {
        list-style: none;
        display: inline-block;
        font-size: 11pt;
        &.disabled {
            .page-link {
                cursor: not-allowed;
                color: $txt-84-color;
                background-color: #f5f5f5;
            }
        }
        .page-link {
            padding: 10px;
            height: 45px;
            border: $border;
            border-radius: 5px;
            margin: 0 5px;
            color: $txt-54-color;
            background-color: #fff;
            &:hover {
                background-color: #f5f5f5;
            }
        }
    }
}

.link {
    cursor: default;
    &.link-green {
        li {
            a {
                &:hover {
                    background-color: $green;
                    color: #fff;
                }
                &.active {
                    background-color: $green;
                    color: #fff;
                }
            }
        }
    }
    &.link-orange {
        li {
            a {
                &:hover {
                    background-color: $orange;
                    color: #fff;
                }
                &.active {
                    background-color: $orange;
                    color: #fff;
                }
            }
        }
    }
    &.link-red {
        li {
            a {
                &:hover {
                    background-color: $red;
                    color: #fff;
                }
                &.active {
                    background-color: $red;
                    color: #fff;
                }
            }
        }
    }
    &.link-pos {
        li {
            a {
                &:hover {
                    background-color: $pos-color;
                    color: #fff;
                }
                &.active {
                    background-color: $pos-color;
                    color: #fff;
                }
            }
        }
    }
    li {
        list-style: none;
        display: inline-block;
        a {
            position: relative;
            // padding: 7.5px 15px;
            display: block;
            width: 35px;
            height: 35px;
            line-height: 38px;
            text-align: center;
            font-size: 10pt;
            border-radius: 5px;
            background-color: #fff;
            color: $txt-84-color;
            border: $border;
            box-shadow: 0 0 5px 0 rgba(154,161,171,.15);
        }
        .val {
            padding: 0 15px;
            color: $txt-54-color;
            font-size: 11pt;
        }
    }
}

.card-date-picker {
    position: relative;
    width: 100%;
    .input {
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
        background-color: #fff;
        color: $txt-84-color;
        font-size: 11pt;
        font-weight: 500;
        &:focus {
            color: $red;
        }
        &:focus + .place-date-picker {
            display: block;
        }
    }
    .place-date-picker {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        border: $border;
        width: 100px;
        height: 100px;
        background-color: #fff;
        display: none;
    }
    .double {
        position: relative;
        height: 40px;
        border: $border;
        background-color: #fff;
        border: $border1;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
    }
    .content {
        position: absolute;
        top: 40px;
        z-index: 10;
        border: $border;
        box-shadow: $shadow;
        background-color: #fff;
        margin-bottom: 15px;
        &.right {
            right: 0 !important;
        }
    }
}

.circle-notif {
    position: relative;
    // min-width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    padding: 0 6px;

    text-align: center;
    background-color: $orange;
    color: #fff;
    font-size: 9pt;
    font-weight: 600;
    &.float-top {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    &.float-bottom {
        position: absolute;
        bottom: -5px;
        right: -5px;
    }
}

.card-form {
    position: relative;
    width: 100%;
    border: $border1;
    border-radius: 5px;
    background-color: #fff;
    border: 1px rgba(0,0,0,0.1) solid;
    .cf-header {
        padding: 15px;
    }
    .cf-body {
        position: relative;
        width: calc(100% - 30px);
        padding: 0 15px;
        // background-color: #f8f8f8;
    }
    .cf-title {
        font-size: 18px;
        font-weight: 600;
        color: $txt-84-color;
    }
    .cf-subtitle {
        font-size: 13px;
        font-weight: 500;
        color: $txt-54-color;
        margin-top: 5px;
    }
    .cf-label {
        font-size: 15px;
        color: $txt-84-color;
    }
    .cf-important {
        color: $red;
        font-size: 13px;
        margin-left: 5px;
    }
    .cf-field {
        position: relative;
        width: 100%;
        margin: 15px 0;
    }
    .cf-input {
        margin: 2.5px 0;
    }
    .cf-message {
        font-size: 13px;
        color: $txt-34-color;
    }
    .cf-footer {
        padding: 15px;
    }
}

.card-org {
    position: relative;
    border: $border1;
    border-radius: 5px;
    margin: auto;
    background-color: #fff;
    .co-top {
        position: relative;
        width: calc(100% - 30px);
        padding: 10px 15px;
        &.co-grid {
            @include grid_2x(45px, 1fr);
            @include grid_gap(10px);
            text-align: left;
            .co-col-1 {
                @include column_n(1);
                text-align: center;
            }
            .co-col-2 {
                @include column_n(2);
            }
        }
    }
    .co-bot {
        position: relative;
        width: calc(100% - 30px);
        padding: 5px 15px;
        border-top: $border1;
    }
}

.card-flipping {
    position: relative;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    
    .card-body {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transition: all .7s linear;
           -moz-transition: all .7s linear;
            -ms-transition: all .7s linear;
             -o-transition: all .7s linear;
                transition: all .7s linear;
        .card-side {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;
            background-color: #fff;
            // backsface-visibility: hidden;
            box-shadow: $shadow;
        }
        .card-content {
            position: relative;
            width: 100%;
        }
        .side-front {
            z-index: 2;
            opacity: 1;
            visibility: visible;
            transition: opacity 1s ease-in, visibility .75s linear;
            &[class^=col-xs]:first-of-type {
              padding-left: 0;
            }
        }
        .side-back {
            z-index: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 1s ease-in, visibility .75s linear;
            -webkit-transform: rotateY(180deg);
               -moz-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                 -o-transform: rotateY(180deg);
                    transform: rotateY(180deg);
        }
    }
    &.active-hover {
        &:hover {
            .card-body {
                -webkit-transform: rotateY(180deg);
                   -moz-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                     -o-transform: rotateY(180deg);
                        transform: rotateY(180deg);
                .side-front {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 1s ease-in, visibility .75s linear;
                }
            }
        }
    }
    &.active {
        .card-body {
            -webkit-transform: rotateY(180deg);
               -moz-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                 -o-transform: rotateY(180deg);
                    transform: rotateY(180deg);
            .side-front {
                z-index: 0;
                opacity: 0;
                visibility: hidden;
            }
            .side-back {
                z-index: 2;
                opacity: 1;
                visibility: visible;
                transition: opacity 1s ease-in, visibility .75s linear;
            }
        }
    }
}

.card-do {
    position: relative;
    width: 100%;
    @include grid_3x(50px, 1fr, 100px);
    @include grid_gap(15px);
    .col-1 {
        @include column_n(1);
    }
    .col-2 {
        @include column_n(2);
    }
    .col-3 {
        @include column_n(3);
    }
}


.bubble {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;

    font-size: 13px;
    font-weight: 600;
    &.red {
        background-color: $red;
        color: #fff;
    }
    &.green {
        background-color: $green;
        color: #fff;
    }
    &.orange {
        background-color: $orange;
        color: #fff;
    }
    &.pos {
        background-color: $pos-color;
        color: #fff;
    }
    &.top-right {
        position: absolute;
        top: 0;
        right: 0;
    }
    &.top-left {
        position: absolute;
        top: 0;
        left: 0;
    }
    &.top-right-fadding {
        position: absolute;
        top: -10px;
        right: -10px;
    }
    &.top-left-fadding {
        position: absolute;
        top: -10px;
        left: -10px;
    }

    // position
    @for $i from 0 through 100 {
        @for $j from 0 through 100 {
            &.position-#{$i}-#{$j} {
                position: absolute;
                top: 0% + $i;
                left: 0% + $j;
            }
        }
    }
}

.card-value {
    position: relative;
    padding: 3px 7px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    &.grey {
        background-color: $grey;
        color: #fff;
    }
    &.red {
        background-color: $red;
        color: #fff;
    }
    &.orange {
        background-color: $orange;
        color: #fff;
    }
    &.green {
        background-color: $green;
        color: #fff;
    }
}