// card
.card {
    position: relative;
    width: calc(100% - 10px);
    border-radius: 5px;
    background-color: #fff;
    border: $border1;
    margin: 5px;
    overflow: hidden;
    &:hover {
        @include animate_1();
        box-shadow: 0 0 30px 0 rgba(154,161,171,.34);
    }
    &.no-hover {
        &:hover {
            box-shadow: 0 0 0 0;
        }
    }
    &.mobile-minimum {
        @media (max-width: $max-width) {
            min-width: 1200px;
        }
    }
    &.no-margin {
        margin: 0 0;
    }
    .card-top {
        position: relative;
        // width: calc(100% - 30px);
        // padding: 14px 15px;
    }
    .card-pad {
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
    }
    .card-mid {
        position: relative;
        width: calc(100% - 30px);
        height: 170px;
        padding: 15px;
    }
    .card-center {
        @include post_center(relative);
    }
    .card-left {
        @include post_middle(absolute);
    }
}

.card-percentage {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    &.border-25 {
        border-top: 4px $green solid;
        border-right: 4px #fff solid;
        border-bottom: 4px #fff solid;
        border-left: 4px #fff solid;
    }
    &.border-50 {
        border-top: 4px $green solid;
        border-right: 4px $green solid;
        border-bottom: 4px #fff solid;
        border-left: 4px #fff solid;
    }
    &.border-75 {
        border-top: 4px $green solid;
        border-right: 4px $green solid;
        border-bottom: 4px $green solid;
        border-left: 4px #fff solid;
    }
    &.border-100 {
        border: 4px $green solid;
    }
    .percentage-info {
        @include  post_center(relative);
        text-align: center;
    }
    .percentage-title {
        font-size: 18pt;
        font-weight: 600;
        color: $txt-84-color;
        line-height: 1.2;
    }
    .percentage-subtitle {
        font-size: 11pt;
        color: $txt-54-color;
        line-height: 1.2;
    }
}

.card-notif {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    @include grid_2x(50px, 1fr);
    &:hover {
        @include animate_1();
        background-color: #f5f5f5;
        color: $txt-min-color;
    }
    .c-n-col-1 {
        @include column_n(1);
    }
    .c-n-col-2 {
        @include column_n(2);
    }
}

.card-item {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    @include grid_3x(50px, 1fr, 150px);
    &:hover {
        @include animate_1();
        background-color: #f9f9f9;
        color: $txt-min-color;
    }
    .c-i-col-1 {
        @include column_n(1);
    }
    .c-i-col-2 {
        @include column_n(2);
    }
    .c-i-col-3 {
        @include column_n(3);
        text-align: right;
    }
}

.card-timeline {
    position: relative;
    width: calc(100% - 0px);
    padding: 15px 0;
    @include grid_2x(60px, 1fr);
    .c-n-col-1 {
        @include column_n(1);
    }
    .c-n-col-2 {
        @include column_n(2);
    }
}


.table-head {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    color: $txt-84-color;
    @include grid_2x(1fr, 1fr);
    .float-right {
        float: right;
        text-align: right;
    }
    .form-control {
        border: $border;
        height: 43px;
        padding: 0 10px;
        border-radius: 5px;
        background-color: #fff;
    }
}

.table-foot {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    color: $txt-84-color;
    @include grid_2x(1fr, 1fr);
    .pull-right {
        float: right;
        text-align: right;
    }
}

.table {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    margin: 15px;
    border-radius: 7.5px;
    overflow: hidden;
    background-color: #fff;
    
    box-shadow: 0 0 10px 0 rgba(154,161,171,.15);
    
    border-collapse: collapse;
    border-spacing: 0;

    &:hover {
        @include animate_1();
        box-shadow: 0 0 30px 0 rgba(154,161,171,.15);
    }

    thead {
        width: 100%;
        background-color: $blue;
        tr {
            th {
                padding: 15px;
                font-size: 11pt;
                color: #fff;
                text-align: left;
                flex-basis: 100%;
                flex-grow: 2;
                .sortable {
                    color: #fff;
                }
            }
        }
    }

    tbody {
        position: relative;
        width: 100%;
        .tr {
            .td {
                flex-basis: 100%;
                flex-grow: 2;
            }
        }
    }

    tfoot {
        padding: 10px 0;
    }

    td {
        padding: 15px;
        font-size: 11pt;
        vertical-align: middle;
    }
    tr {
        color: $txt-54-color;
    }
    tr:nth-child(even) {
        background-color: #f5f5f5;
    }   

}

.pagination {
    .page-item {
        list-style: none;
        display: inline-block;
        font-size: 11pt;
        &.disabled {
            .page-link {
                cursor: not-allowed;
                color: $txt-84-color;
                background-color: #f5f5f5;
            }
        }
        .page-link {
            padding: 10px;
            height: 45px;
            border: $border;
            border-radius: 5px;
            margin: 0 5px;
            color: $txt-54-color;
            background-color: #fff;
            &:hover {
                background-color: #f5f5f5;
            }
        }
    }
}

.link {
    cursor: default;
    &.link-green {
        li {
            a {
                &:hover {
                    background-color: $green;
                    color: #fff;
                }
                &.active {
                    background-color: $green;
                    color: #fff;
                }
            }
        }
    }
    &.link-orange {
        li {
            a {
                &:hover {
                    background-color: $orange;
                    color: #fff;
                }
                &.active {
                    background-color: $orange;
                    color: #fff;
                }
            }
        }
    }
    &.link-red {
        li {
            a {
                &:hover {
                    background-color: $red;
                    color: #fff;
                }
                &.active {
                    background-color: $red;
                    color: #fff;
                }
            }
        }
    }
    &.link-pos {
        li {
            a {
                &:hover {
                    background-color: $pos-color;
                    color: #fff;
                }
                &.active {
                    background-color: $pos-color;
                    color: #fff;
                }
            }
        }
    }
    li {
        list-style: none;
        display: inline-block;
        a {
            position: relative;
            // padding: 7.5px 15px;
            display: block;
            width: 35px;
            height: 35px;
            line-height: 38px;
            text-align: center;
            font-size: 10pt;
            border-radius: 5px;
            background-color: #fff;
            color: $txt-84-color;
            border: $border;
            box-shadow: 0 0 5px 0 rgba(154,161,171,.15);
        }
        .val {
            padding: 0 15px;
            color: $txt-54-color;
            font-size: 11pt;
        }
    }
}

.card-date-picker {
    position: relative;
    width: 100%;
    .input {
        position: relative;
        width: calc(100% - 30px);
        padding: 10px 15px;
        background-color: #fff;
        color: $txt-84-color;
        font-size: 13px;
        font-weight: 500;
        &:focus {
            color: $red;
        }
        &:focus + .place-date-picker {
            display: block;
        }
    }
    .place-date-picker {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        border: $border1;
        width: 100px;
        height: 100px;
        background-color: #fff;
        display: none;
    }
    .double {
        position: relative;
        height: 40px;
        border: $border1;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
    }
    .content {
        position: absolute;
        top: 40px;
        z-index: 10;
        border: $border1;
        box-shadow: $shadow;
        background-color: #fff;
        margin-bottom: 15px;
        &.right {
            right: 0 !important;
        }
    }
}

.card-form {
    position: relative;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px rgba(0,0,0,0.1) solid;
    .cf-header {
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
    }
    .cf-body {
        position: relative;
        width: calc(100% - 30px);
        padding: 0 15px;
        // background-color: #f8f8f8;
    }
    .cf-footer {
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
    }
    .cf-title {
        font-size: 18px;
        font-weight: 600;
        color: $txt-84-color;
    }
    .cf-subtitle {
        font-size: 13px;
        font-weight: 500;
        color: $txt-54-color;
        margin-top: 5px;
    }
    .cf-field {
        position: relative;
        width: 100%;
        margin: 15px 0;
        .cf-label {
            font-size: 15px;
            color: $txt-84-color;
        }
        .cf-important {
            color: $red;
            font-size: 13px;
            margin-left: 5px;
        }
        .cf-input {
            margin: 2.5px 0;
        }
        .cf-message {
            font-size: 13px;
            color: $txt-34-color;
        }
    }
}