.image {
	position: relative;
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	// background-color: #f0f0f0;
	img {
		@include post_center(relative);
		width: 100%;
	}
	&.no-bg-color {
		background-color: rgba(0,0,0,0);
	}
	&.image-20px {
		width: 20px;
		height: 20px;
	}
	&.image-25px {
		width: 25px;
		height: 25px;
	}
	&.image-30px {
		width: 30px;
		height: 30px;
	}
	&.image-35px {
		width: 35px;
		height: 35px;
	}
	&.image-40px {
		width: 40px;
		height: 40px;
	}
	&.image-45px {
		width: 45px;
		height: 45px;
	}
	&.image-50px {
		width: 50px;
		height: 50px;
	}
	&.image-60px {
		width: 60px;
		height: 60px;
	}
	&.image-70px {
		width: 70px;
		height: 70px;
	}
	&.image-80px {
		width: 80px;
		height: 80px;
	}
	&.image-90px {
		width: 90px;
		height: 90px;
	}
	&.image-100px {
		width: 100px;
		height: 100px;
	}
	&.image-110px {
		width: 110px;
		height: 110px;
	}
	&.image-120px {
		width: 120px;
		height: 120px;
	}
	&.image-130px {
		width: 130px;
		height: 130px;
	}
	&.image-140px {
		width: 140px;
		height: 140px;
	}
	&.image-150px {
		width: 150px;
		height: 150px;
	}
	&.image-160px {
		width: 160px;
		height: 160px;
	}
	&.image-170px {
		width: 170px;
		height: 170px;
	}
	&.image-180px {
		width: 180px;
		height: 180px;
	}
	&.image-190px {
		width: 190px;
		height: 190px;
	}
	&.image-200px {
		width: 200px;
		height: 200px;
	}
	&.image-250px {
		width: 250px;
		height: 250px;
	}
	&.image-all {
		width: 100%;
		height: 100%;
	}
	&.image-full {
		width: 100%;
		padding-bottom: 100%;
	}
	&.image-middle {
		width: 100%;
		padding-bottom: 50%;
	}
	&.image-radius {
		border-radius: 5px;
	}
	&.image-circle {
		border-radius: 100%;
	}
	&.image-pointer {
		cursor: pointer;
	}
	&.image-more {
		&:hover {
			.ttl {
				color: $txt-min-color;
			}
		}
	}
	&.image-center {
		margin: auto;
	}
	.img {
		@include post_center(absolute);
		height: 100%;
	}
	.ttl {
		@include post_center(absolute);
		color: $txt-sek-color;
		font-size: 16px;
		font-weight: 600;
	}
	.icn {
		@include post_center(absolute);
		color: $txt-sek-color;
		.icn-big {
			font-size: 34px;
		}
	}
}

.image-group {
	position: relative;
	width: 150px;
	display: flex;
	padding: 5px 0;
	.i-g-list {
		position: relative;
		width: 28px;
	}
	.image {
		width: 33.5px;
		height: 33.5px;
		border: 1.5px #fff solid;
		background-color: #f5f5f5;
		.icn {
			color: rgba(0,0,0,0.14);
			font-size: 32px;
		}
	}
}