// app login
.app-login {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1200;
	overflow-y: auto;
	@include transparantScrollBar();
	.login-content {
		@include post_center(relative);
		width: 700px;
		padding: 25px;
		background-color: rgba($color: $blue, $alpha: 0.7);
		border-radius: 10px;
		overflow: hidden;
		@media (max-width: $max-width) {
			@include post_none();
			width: calc(100% - 60px);
			padding: 15px;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.login-small {
		@include post_center(relative);
		width: 350px;
		padding: 20px;
		background-color: #fff;
		border-radius: 7.5px;
		box-shadow: $shadow-small;
		@media (max-width: $max-width) {
			@include post_none();
			margin: auto;
			margin-top: 70px;
			margin-bottom: 20px;
		}
			@media (max-width: $min-width) {
			@include post_none();
			width: calc(100% - 60px);
		}
	}
	.login-cool {
		position: relative;
		width: 900px;
		height: 550px;
		margin: auto;
		background-color: #fff;
		box-shadow: $shadow;
		@include post_top(absolut);
		@include grid_2x(400px, 1fr);
		@media (max-width: $max-width) {
			@include grid_none();
		}
		.lc-col-1 {
			@include column_n(1);
		}
		.lc-col-2 {
			@include column_n(2);
			position: relative;
			width: 100%;
			@media (max-width: $max-width) {
				display: none;
			}
		}
	}
	.logo-faded {
		position: relative;
		width: 100%;
		height: 30px;
		.image {
			@include post_bottom(absolute);
			width: 100px;
			height: 100px;
		}
	}
	.float-label {
		@include post_bottom(absolute);
		bottom: 15px;
		font-size: 10pt;
		color: $txt-54-color;
		a {
			font-weight: 600;
			color: $pos-color;
		}
	}
}