//padding
.padding-30px {
	position: relative;
	width: calc(100% - 60px);
	padding: 30px;
}
.padding-25px {
	position: relative;
	width: calc(100% - 50px);
	padding: 25px;
}
.padding-20px {
	position: relative;
	width: calc(100% - 40px);
	padding: 20px;
}
.padding-15px {
	position: relative;
	width: calc(100% - 30px);
	padding: 15px;
}
.padding-10px {
	position: relative;
	width: calc(100% - 20px);
	padding: 10px;
}
.padding-5px {
	position: relative;
	width: calc(100% - 10px);
	padding: 5px;
}
.padding-top-30px {
	padding-top: 30px;
}
.padding-top-25px {
	padding-top: 25px;
}
.padding-top-20px {
	padding-top: 20px;
}
.padding-top-15px {
	padding-top: 15px;
}
.padding-top-10px {
	padding-top: 10px;
}
.padding-top-5px {
	padding-top: 5px;
}
.padding-bottom-30px {
	padding-bottom: 30px;
}
.padding-bottom-25px {
	padding-bottom: 25px;
}
.padding-bottom-20px {
	padding-bottom: 20px;
}
.padding-bottom-15px {
	padding-bottom: 15px;
}
.padding-bottom-10px {
	padding-bottom: 10px;
}
.padding-bottom-5px {
	padding-bottom: 5px;
}
.padding-left-30px {
	padding-left: 30px;
}
.padding-left-25px {
	padding-left: 25px;
}
.padding-left-20px {
	padding-left: 20px;
}
.padding-left-15px {
	padding-left: 15px;
}
.padding-left-10px {
	padding-left: 10px;
}
.padding-left-5px {
	padding-left: 5px;
}
.padding-right-30px {
	padding-right: 30px;
}
.padding-right-25px {
	padding-right: 25px;
}
.padding-right-20px {
	padding-right: 20px;
}
.padding-right-15px {
	padding-right: 15px;
}
.padding-right-10px {
	padding-right: 10px;
}
.padding-right-5px {
	padding-right: 5px;
}