//column
//variable

//method
@mixin col_full() {
	width: $col-full;
	margin: 0 auto;
	@media (max-width: $max-width) {
		width: calc(100% - 20px);
	}
}
@mixin col_all() {
	width: calc(100% - 30px);
	margin: 0 auto;
}
@mixin col_set($width) {
	width: $width;
	margin: 0 auto;
	@media (max-width: $max-width) {
		width: calc(100% - 20px);
	}
}
@mixin col_masonry($val) {
	column-count: $val;
	column-gap: 0;
	-webkit-column-count: $val;
	-webkit-column-gap: 0;
	-moz-column-count: $val;
	-moz-column-gap: 0;
	-ms-column-count: $val;
	-ms-column-gap: 0;
}

//width
@mixin width($val) {
	width: $val;
	@media (max-width: $max-width) {
		width: 100%;
	}
}

.width {
	position: relative;
	&.width-center {
		margin: auto;
	}
	&.width-middle {
		@include post_center(absolute);
	}
	&.width-full {
		width: 100%;
	}
	&.width-all {
		width: calc(100% - 30px);
		padding: 0 15px;
	}
	&.width-100px {
        @include width(100px);
    }
	&.width-150px {
        @include width(150px);
    }
	&.width-200px {
        @include width(200px);
    }
    &.width-250px {
        @include width(250px);
    }
    &.width-300px {
        @include width(300px);
    }
    &.width-350px {
        @include width(350px);
    }
    &.width-400px {
        @include width(400px);
    }
    &.width-450px {
        @include width(450px);
    }
    &.width-500px {
        @include width(500px);
    }
    &.width-550px {
        @include width(550px);
    }
    &.width-600px {
        @include width(600px);
    }
    &.width-650px {
        @include width(650px);
    }
    &.width-700px {
        @include width(700px);
	}
	&.width-750px {
        @include width(750px);
	}
	&.width-800px {
        @include width(800px);
	}
	&.width-850px {
        @include width(850px);
	}
	&.width-900px {
        @include width(900px);
	}
	&.width-950px {
        @include width(950px);
	}
	&.width-1000px {
        @include width(1000px);
    }
}